<div
class="container">
  <div
    class="image-container"
  >
    <img src="assets/images/LinkedIn.png"/>
    <img src="assets/images/email.png"/>
    <img src="assets/images/phone.png"/>
  </div>

  <div
  class="data-container"
  >
    <a
      class=" button is-dark is-rounded"
      href="'https://www.linkedin.com/in/noubar-kalost/'"
    >Noubar Kalost</a>

    <a
      class=" button is-dark is-rounded"
    >noubar_kaloust@gmail.com</a>

    <a
      class=" button is-dark is-rounded"
    >+37496096053</a>
  </div>
</div>
