<div
class="container">
  <div
  class="data-container"
  >
    <img
      loading="lazy"
      class="image-container"
      src="assets/images/LinkedIn.png"/>
    <a
      class=" button is-dark is-rounded"
      href="https://www.linkedin.com/in/noubar-kalost/"
    >LinkedIn</a>

    <img
      loading="lazy"
      class="image-container"
      src="assets/images/email.png"/>
    <a
      class=" button is-dark is-rounded"
      href="mailto:noubar_kaloust@hmail.com?subject=Mail from our Portfolio"
    >Email Me</a>
    <img
      loading="lazy"
      class="image-container"
      src="assets/images/phone.png"/>
    <a
      class=" button is-dark is-rounded"
      href="tel:0037496096052"
    > Call Me</a>
  </div>
</div>
