@keyframes slideInFromLeft {
  0% {
    transform: translateX(-2000px);
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(2000px);
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  height: calc(100vh - 190px);
}

.image-container {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.5s ease;
  padding: 10px;
  animation: 0.8s ease-out slideInFromLeft
}

.image-container:hover {
  scale: 1.1;
  opacity: 1;
}
.data-container > img {
  width: 10%;
}
.data-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation: 0.6s ease-out slideInFromRight
}

.data-container > a {
  margin: 25px;
  transition: all 0.5s ease;
}

.data-container > a:hover {
  scale: 1.1;
  opacity: 1;
}

@media all and (max-width: 499px) {
  .data-container > img {
    width: 15%;
  }
  data-container > a {
    margin: 0px;
  }
}
