<div class="header-container">
  <div
    [class.nav-list-container-open]="triggerMenu"
    class="nav-list-container"
  >
    <ng-container *ngIf="!triggerMenu">
      <app-button *ngFor="let button of buttons"
                  (click)="onNavItemClick()"
                  [class]="button.position"
                  [text]="button.name"
                  [link]="button.link"
                  [className]="'button is-dark is-rounded'"
      >
      </app-button>
    </ng-container>
    <ng-container *ngIf="triggerMenu">
    <app-button *ngFor="let button of buttons"
                (click)="onNavItemClick()"
                [class]="button.position"
                [text]="button.name"
                [link]="button.link"
                [className]="''"
    >
    </app-button>
    </ng-container>
  </div>
  <div
    class="menu-button open"
    [class.open]="triggerMenu"
    (click)="handleMenuTrigger()"
  >
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
