<div class="header-container">
  <div
    [class.nav-list-container-open]="triggerMenu"
    class="nav-list-container"
  >
    <app-button
      (click)="onNavItemClick()"
      class="left"
      [text]="'Home'"
      [link]="'/'"
    >
    </app-button>
    <app-button
      (click)="onNavItemClick()"
      class="middle"
      [text]="'About'"
      [link]="'/about'"
    >
    </app-button>
    <app-button
      (click)="onNavItemClick()"
      class="right"
      [text]="'Contact'"
      [link]="'/contact'"
    >
    </app-button>
  </div>
  <div
    class="menu-button open"
    [class.open]="triggerMenu"
    (click)="handleMenuTrigger()"
  >
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
