.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 20%;
  left: 10%;
  scale: 1;
  transition: scale 0.5s ease;

}
img {
  width: 200px;
  border: 2px #585450;
  border-radius: 20px;
}

.card-container:hover {
  scale: 1.1;
}

p {
  text-align: center;
  padding: 5px;
  margin: 10px;
}
