@keyframes slideInFromLeft {
  0% {
    transform: translateX(-2000px);
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(2000px);
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(2000px);
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-2000px);
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

p, li{
  text-shadow: 1px 1px 5px;
}
a {
  color: black;
  font-family: "American Typewriter";
}



.about-container{
  background: #D5D6D6;
  padding: 10px;
  opacity: 0.8;
  border: 0.8px solid floralwhite;
  border-radius: 20px;
  display: flex;
  box-shadow: 5px 10px #888888;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  height: calc(100vh - 180px);
  overflow: hidden;
}

.left-container{
  align-items: center;
  padding: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header {
  font-size: 32px;
  animation: 0.8s ease-out slideInFromLeft ;
}

.description {
  animation: 1.5s ease-out slideInFromBottom ;
}

.right-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 20px;
}
.right-container > h1 {
  font-size: 32px;
  text-align: center;
  animation: 0.8s ease-out slideInFromRight;
}

.first-li {
  animation: 1.1s ease-out slideInFromRight;
}

.second-li {
  animation: 1.0s ease-out slideInFromRight;
}

.third-li {
  animation: 1.2s ease-out slideInFromRight;
}

.fourth-li {
  animation: 0.9s ease-out slideInFromRight;
}

.fifth-li {
  animation: 1.3s ease-out slideInFromRight;
}

.sixth-li {
  animation: 0.8s ease-out slideInFromRight;
}

.seventh-li {
  animation: 1.1s ease-out slideInFromRight;
}

@media all and (max-width: 600px) {
  .about-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  .left-container{
    width: 100%;
  }
  .right-container {
    width: 100%;
  }
}
