<div
  class="about-container"
>
  <section
  class="left-container"
  >
    <h1
    class="header"
    >About Me</h1>
    <p
    class="description"
    >
      Front End Developer, my role is to write and style the front-end components that meet the requirements of our mocks and fulfill our user stories.
      I also monitor and process pull requests for production deployments.
    </p>
  </section>
  <div
  class="right-container"
  >
    <h1
    >Skills</h1>
   <ul>
     <li
     class="first-li"
      >Angular</li>
     <li
       class="second-li"
      >JavaScript</li>
     <li
     class="third-li"
      >RxJs</li>
     <li
       class="fourth-li"
     >TypeScript</li>
     <li
       class="fifth-li"
     >NgRx</li>
     <li
       class="sixth-li"
     >CSS</li>
     <li
       class="seventh-li"
     >HTML</li>
   </ul>

  </div>
</div>
