@keyframes slideInFromLeft {
  0% {
    transform: translateX(-2000px);
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(2000px);
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(2000px);
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-2000px);
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


.about-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  height: calc(100vh - 180px);
  overflow: hidden;
}

.left-container{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header {
  font-size: 32px;
  animation: 0.8s ease-out slideInFromLeft ;
}

.description {
  animation: 1.5s ease-out slideInFromBottom ;
}

.right-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.right-container > h1 {
  font-size: 32px;
  width: 400px;
  border-radius: 20px;
  aspect-ratio: 0 / 7;
  animation: 0.8s ease-out slideInFromRight;
}

.first-li {
  animation: 1.1s ease-out slideInFromRight;
}

.second-li {
  animation: 1.0s ease-out slideInFromRight;
}

.third-li {
  animation: 1.2s ease-out slideInFromRight;
}

.fourth-li {
  animation: 0.9s ease-out slideInFromRight;
}

.fifth-li {
  animation: 1.3s ease-out slideInFromRight;
}

.sixth-li {
  animation: 0.8s ease-out slideInFromRight;
}

.seventh-li {
  animation: 1.1s ease-out slideInFromRight;
}
