<div
  class="about-container"
>
  <section
  class="left-container"
  >
    <h1
    class="header"
    >About Me</h1>
    <p
    class="description"
    >
      Front End Developer, my role is to write and style the front-end components that meet the requirements of our mocks and fulfill our user stories.
      I also monitor and process pull requests for production deployments.
      Technologies used : Angular, React, JavaScript, RxJs, ES6, TypeScript, CSS and HTML.
    </p>
  </section>
  <div
  class="right-container"
  >
   <ol>
     <li></li>
     <li></li>
     <li></li>
     <li></li>
   </ol>

  </div>
</div>
