<div class="container">
<div
  class="image-container"
>
  <img
    alt="Angular"
    src="assets/images/angular.png"
>
  <p><strong> Noubar Kalost </strong></p>
  <p> Software Engineer at</p>
  <p><strong> Epam Systems </strong></p>
  <p> Key Skill </p>
  <p><strong>Angular</strong></p>

</div>

<div>
</div>
<div
class="card-container"
>
  <a><strong>Introduction</strong></a>
  <p>
    Started my career in 2021 with Epam Training School in April, I've been accepted as Junior Software Engineer in October of the same year.
    My Current job title is Mid Software Engineer and I work on University and Health Website.
  </p>
  <a
    class="button is-rounded is-dark download"
    href="assets/Profile.pdf"
    download="Noubar Kalost"
  > Resume </a>
</div>
</div>
