@keyframes slideInFromLeft {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


.image-container {
  width: 20%;
  position: fixed;
  top: 15%;
  left: 20%;
  scale: 1;
  text-align: center;
  animation: 0.8s ease-out slideInFromLeft ;
  transition: all 0.5s ease;
}

.image-container:hover {
  scale: 1.1;

}

.image-container>p {
  animation: 1s ease-out slideInFromLeft ;
}
