@keyframes slideInFromLeft {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(2000px);
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.card-container > p{
  text-shadow: 1px 1px 5px;
}
a {
  color: black;
  font-family: "American Typewriter";
}

.container {
  background: #D5D6D6;
  padding: 10px;
  opacity: 0.8;
  border: 0.8px solid floralwhite;
  border-radius: 20px;
  box-shadow: 5px 10px #888888;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  height: calc(100vh - 180px);
  overflow: hidden;
}

.image-container {
  width: 50%;
  scale: 1;
  text-align: center;
  animation: 0.8s ease-out slideInFromLeft ;
  transition: all 0.5s ease;
  cursor: pointer;
  padding-top: 10px;
}

.image-container:hover {
  scale: 1.1;

}

.image-container>p {
  animation: 1s ease-out slideInFromLeft ;
}

.image-container> img {
  width: 40%;
}

.card-container {
  width: 50%;
  text-align: center;
  animation: 1.5s ease-out slideInFromRight ;
  transition: all 0.5s ease;
  padding-bottom: 10px;
}
.card-container > h1 {
  opacity: 0.8;
  scale: 1;
  transition: all 0.5s ease;
  cursor: pointer;
}

.card-container > h1:hover {
  opacity: 1;
  scale: 1.1;
}

.download {
  opacity: 0.8;
  scale: 1;
  transition: all 0.5s ease;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  width: 50%;
}

.download:hover {
  opacity: 1;
  scale: 1.1;
}

@media all and (max-width: 600px) {
  .card-container {
    width: 100%;;
  }
  .image-container {
    width: 100%;
  }

  .container {
    flex-direction: column;
  }
}


