.footer-container{
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 70%;
}

@media all and (max-width: 499px) {
  text-container {
    width: 40%;
    padding: 10px;
    font-family: "American Typewriter";
  }
  .footer-container {
  width: 100%;
  }

  .button-container {
    width: 60%;
  }
}
