@keyframes slideInFromLeft {
  0% {
    transform: translateX(-2000px);
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(2000px);
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.footer-container{
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 70%;
  align-items: center;
}

.text-container {
  animation: 0.8s ease-out slideInFromLeft ;
}
.button-container {
  animation: 0.8s ease-out slideInFromRight ;
}

@media all and (max-width: 499px) {
  text-container {
    width: 40%;
    padding: 10px;
    font-family: "American Typewriter";
  }
  .footer-container {
  width: 100%;
  }

  .button-container {
    width: 60%;
  }
}
